# Lecture 1 - Working with Structured Data - SQL
### [The Art of Analyzing Big Data - The Data Scientist’s Toolbox - Lecture 1 Part A](https://www.ise.bgu.ac.il/labs/fire/lectures.html)
#### By Dr. Michael Fire 

----

The following notebook has three parts. In the first part, we will setup the Kaggle package and use it to download a dataset. In the second part, we will present several examples of how to use Python & SQLite to analyze structure data. Lastly, we see some examples of how to work with Object-Relational Mapping (ORM) and the Pony ORM package.

## 1. Setting Kaggle's Datasets API

This is our first notebook. So first, let's get a Kaggle API key, and create  easy access to download Kaggle's datasets.
More details on Kaggle's API can be found in the following [link](https://github.com/Kaggle/kaggle-api#api-credentials). Moreover, a quick explanation on how to get an API key and use it can be found in the following [link](https://gist.github.com/jayspeidell/d10b84b8d3da52df723beacc5b15cb27)

In [1]:
#!mkdir '~/.kaggle' # the directory where you need to put Kaggle.json - see https://github.com/Kaggle/kaggle-api/issues/15

In [1]:
import json
import os

# Installing the Kaggle package
!pip install kaggle 

#Important Note: complete this with your own key - after running this for the first time remmember to **remove** your API_KEY
#api_token = {"username":"<Insert Your Kaggle User Name>","key":"<Insert Your Kaggle API key>"}

# creating kaggle.json file with the personal API-Key details 
# You can also put this file on your Google Drive
with open('~/.kaggle/kaggle.json', 'w') as file:
  json.dump(api_token, file)
!chmod 600 ~/.kaggle/kaggle.json

Requirement already satisfied: kaggle in /anaconda3/envs/massivedata/lib/python3.6/site-packages (1.5.6)
Requirement already satisfied: certifi in /anaconda3/envs/massivedata/lib/python3.6/site-packages (from kaggle) (2019.9.11)
Requirement already satisfied: python-slugify in /anaconda3/envs/massivedata/lib/python3.6/site-packages (from kaggle) (4.0.0)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /anaconda3/envs/massivedata/lib/python3.6/site-packages (from kaggle) (1.24.2)
Requirement already satisfied: tqdm in /anaconda3/envs/massivedata/lib/python3.6/site-packages (from kaggle) (4.36.1)
Requirement already satisfied: requests in /anaconda3/envs/massivedata/lib/python3.6/site-packages (from kaggle) (2.22.0)
Requirement already satisfied: python-dateutil in /anaconda3/envs/massivedata/lib/python3.6/site-packages (from kaggle) (2.8.0)
Requirement already satisfied: six>=1.10 in /anaconda3/envs/massivedata/lib/python3.6/site-packages (from kaggle) (1.12.0)
Requirement already satisfied: text-unidecode>=1.3 in /anaconda3/envs/massivedata/lib/python3.6/site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /anaconda3/envs/massivedata/lib/python3.6/site-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /anaconda3/envs/massivedata/lib/python3.6/site-packages (from requests->kaggle) (2.8)

Let's check if we can use Kaggle API and download the [US Baby Names  dataset](https://www.kaggle.com/kaggle/us-baby-names)

In [3]:
# searching for the dataset
!kaggle datasets list -s baby

ref                                                      title                                         size  lastUpdated          downloadCount  voteCount  usabilityRating
-------------------------------------------------------  -------------------------------------------  -----  -------------------  -------------  ---------  ---------------
kaggle/us-baby-names                                     US Baby Names                                173MB  2017-11-21 22:18:15          16984        242  0.7058824
new-york-city/nyc-baby-names                             NYC Baby Names                               136KB  2017-09-08 20:04:20            552          9  0.8235294
roopalik/amazon-baby-dataset                             Amazon baby dataset                           18MB  2017-02-01 21:01:16            545         11  0.61764705
samrat77/baby-names-dataset                              Baby Names DataSet                            85KB  2019-03-21 06:21:34            280          8  0.5882353
ytmytm/babyfeeds                                         Baby girl breast feeds                        41KB  2019-07-14 18:31:46             90          4  0.9411765
new-york-city/nyc-most-popular-baby-names                NYC Most Popular Baby Names                  150KB  2019-12-02 21:59:21            364         12  0.7941176
jpmiller/publicassistance                                US Public Assistance for Women and Children    3MB  2020-01-26 17:43:43           6274        121  0.9117647
xvivancos/barcelona-data-sets                            Barcelona data sets                            1MB  2020-02-15 23:29:29           9804        260  1.0
shrutikunapuli/baby-cry                                  baby cry audio                                78MB  2019-08-27 06:35:56              0          2  0.75
netanel246/jewish-baby-names                             Jewish Baby Names                              4KB  2017-05-07 20:40:09             77          2  0.64705884
hassenmorad/us-state-baby-names                          US State Baby Names                           41MB  2018-09-14 18:25:40             70          2  0.5
des137/us-births-2018                                    US births (2018)                             120MB  2019-11-28 09:26:32            186          7  1.0
hassenmorad/us-national-baby-names-18802017              US National Baby Names (1880-2017)             8MB  2018-09-14 17:35:52             65          2  0.47058824
deepfriedtofu/baby-sloths                                Baby Sloths                                    2MB  2019-08-20 04:45:42              6          0  0.5625
sameersmahajan/reviews-of-amazon-baby-products           Reviews of Amazon Baby Products               29MB  2019-02-13 10:55:33            100          2  0.29411766
cocowaffle/baby-photos                                   Baby Photos                                  115KB  2017-04-11 18:18:23            330          0  0.75
fivethirtyeight/fivethirtyeight-drug-use-by-age-dataset  FiveThirtyEight Drug Use By Age Dataset        2KB  2019-04-26 15:02:02           1068         31  0.8235294
austinreese/dril-tweets                                  Dril Tweets                                  663KB  2020-01-20 11:56:47             17          3  1.0
fogallego/reviews-with-conditions                        Reviews with conditions                      339MB  2018-05-31 07:58:52            330         18  0.8235294
pktippa/baby-names-analysis-dataset                      baby_names_analysis                            8MB  2019-08-11 06:23:15             18          0  0.47058824

In [4]:
# Creating a dataset directory
!mkdir ./datasets
!mkdir ./datasets/us-baby-name

# download the dataset from Kaggle and unzip it
!kaggle datasets download kaggle/us-baby-names -f database.sqlite -p ./datasets/us-baby-name/database.sqlite
!chdir ./datasets/us-baby-name/database.sqlite/
!unzip ./datasets/us-baby-name/database.sqlite/*.zip  -d ./datasets/us-baby-name/database.sqlite

Downloading database.sqlite.zip to ./datasets/us-baby-name/database.sqlite
100%|███████████████████████████████████████▉| 131M/131M [00:23<00:00, 7.21MB/s]
100%|████████████████████████████████████████| 131M/131M [00:23<00:00, 5.96MB/s]
/bin/sh: chdir: command not found
Archive:  ./datasets/us-baby-name/database.sqlite/database.sqlite.zip
  inflating: ./datasets/us-baby-name/database.sqlite/database.sqlite

## 2. Working with SQLite
### Code Example - US Baby Names Dataset

In the first part, we downloaded an SQLite database into Colab. Let's connect to the dataset using the [sqlite3 package](https://docs.python.org/2/library/sqlite3.html): First, let's import the required packages, and answer several questions about the data.

In [5]:
import sqlite3
import matplotlib
import matplotlib.pyplot as plt
import os
%matplotlib inline

DB_PATH = './datasets/us-baby-name/database.sqlite'

**Question 1: How many names in the dataset?**

To answer this question, we need to run a query on the database. This can be done by doing following actions:

1.   We connect to the database, which is a local file, using the *connect* function.
2.   We create a *cursor object*.
3.   We call the *execute function* to run a query
4.   We fetch the results using the *fetchone* function

In [6]:
conn = sqlite3.connect(f'{DB_PATH}/database.sqlite') # connecting to the database
c = conn.cursor() # creating a cursor object
print("The number of national names in the dataset: %s" % c.execute("SELECT count(*) FROM NationalNames" ).fetchone()) # execute a query & fetch the results
print("The number of state names in the dataset: %s" % c.execute("SELECT count(*) FROM StateNames" ).fetchone()) 
c.close() # close the cursor

The number of national names in the dataset: 1825433
The number of state names in the dataset: 5647426

**Question 2: How many distinct names in the Washington State? and in New York State?**

We can answer this question, by using the [Select Distinct] statment(https://www.w3schools.com/sql/sql_distinct.asp):

In [7]:
c = conn.cursor()
print("The number of distinct names in WA state is: %s" % c.execute("SELECT count(*) FROM StateNames Where State='WA'" ).fetchone())
print("The number of distinct names in NY state is: %s" % c.execute("SELECT count(*) FROM StateNames Where State='NY'" ).fetchone())
c.close()

The number of distinct names in WA state is: 114240
The number of distinct names in NY state is: 277809

**Question 3: What are the most common/rare names?**

To answer this question, we need to count the number of times each name appeared in the dataset. This can be done by using the following steps: First, we will use the [Group By](https://www.w3schools.com/sql/sql_groupby.asp) statement, and SQL [Sum function](https://www.w3schools.com/sql/sql_count_avg_sum.asp). Second, we will use the [Order By](https://www.w3schools.com/sql/sql_orderby.asp) keyword to order the results. Lastly, we iterate through the retrieved results using a for loop:

In [8]:
c = conn.cursor()  
rows = c.execute("""SELECT Name, Sum(Count) as TotalNumberOfBabies
             FROM NationalNames
             Group By Name
             Order by Sum(Count)""" ) 
i = 1 
for r in rows:
  if i > 20:
    break
  print(f"{i}. {r[0]}, {r[1]}")
  i += 1
c.close() # close the cursor

1. Aabid, 5
2. Aadhyan, 5
3. Aadian, 5
4. Aadrian, 5
5. Aadrit, 5
6. Aafreen, 5
7. Aagot, 5
8. Aahron, 5
9. Aaiyana, 5
10. Aaja, 5
11. Aakanksha, 5
12. Aakira, 5
13. Aakiyah, 5
14. Aaleeya, 5
15. Aalias, 5
16. Aalicia, 5
17. Aaliyaa, 5
18. Aallyah, 5
19. Aalon, 5
20. Aalyia, 5

Now let's print the names in descending order:

In [9]:
c = conn.cursor()  
rows = c.execute("""SELECT Name, Sum(Count) as TotalNumberOfBabies
             FROM NationalNames
             Group By Name
             Order by Sum(Count) DESC""" ) 
i = 1 
for r in rows:
  if i > 20:
    break
  print(f"{i}. {r[0]}, {r[1]}")
  i += 1
c.close() # close the cursor

1. James, 5129096
2. John, 5106590
3. Robert, 4816785
4. Michael, 4330805
5. Mary, 4130441
6. William, 4071368
7. David, 3590557
8. Joseph, 2580687
9. Richard, 2564867
10. Charles, 2376700
11. Thomas, 2291517
12. Christopher, 2004177
13. Daniel, 1876880
14. Elizabeth, 1606282
15. Patricia, 1575529
16. Matthew, 1558671
17. Jennifer, 1467573
18. George, 1464430
19. Linda, 1454599
20. Barbara, 1437083

We can see that the most common names are James, and the rarest names are names that appeared a total of 5 times. 
*Can you guess why aren't any unique names in the database?*

## 3. Working with Pony ORM

Object-relational mapping (ORM) is very useful for analyzing datasets. I like [Pony ORM](https://ponyorm.org) because it is really easy to use and work with. Moreover, Pony has easy to follow [documentation](https://docs.ponyorm.org). In this part of the notebook, we are going to work with Pony to transfer the database to object and objects into databases. Let's start by installing Pony ORM, and downloading the Pokemon Dataset and convert it into a database.

In [10]:
!pip install pony

Collecting pony
  Downloading https://files.pythonhosted.org/packages/fe/5e/f133d0559ca5015f0bd1089779c4b5ce115e728a6dd606a18dc529550fbb/pony-0.7.12.tar.gz (286kB)
     |████████████████████████████████| 286kB 475kB/s eta 0:00:01
Building wheels for collected packages: pony
  Building wheel for pony (setup.py) ... done
  Created wheel for pony: filename=pony-0.7.12-cp36-none-any.whl size=351612 sha256=c3781cb72318a5f8613bbb80feff523e2a4980184e2a55b2b64fb7cf45a1235a
  Stored in directory: /Users/michael/Library/Caches/pip/wheels/c8/17/43/4f7d5034e6941b2837f090a788c3abfde02a2c6ddb542e98d7
Successfully built pony
Installing collected packages: pony
Successfully installed pony-0.7.12

In [11]:
!kaggle datasets list -s pokemon

ref                                                  title                                       size  lastUpdated          downloadCount  voteCount  usabilityRating
---------------------------------------------------  -----------------------------------------  -----  -------------------  -------------  ---------  ---------------
abcsds/pokemon                                       Pokemon with stats                          15KB  2016-08-29 06:01:43          44317       1298  0.88235295
terminus7/pokemon-challenge                          Pokemon- Weedle's Cave                     285KB  2017-09-21 08:43:04          25691        301  0.7352941
rounakbanik/pokemon                                  The Complete Pokemon Dataset                47KB  2017-09-29 19:49:32          17373        429  0.8235294
vishalsubbiah/pokemon-images-and-types               Pokemon Image Dataset                        2MB  2018-12-17 01:01:39           3845        118  0.9411765
thedagger/pokemon-generation-one                     Pokemon Generation One                       2GB  2018-08-02 06:47:33           2447         95  0.625
kvpratama/pokemon-images-dataset                     Pokemon Images Dataset                      79MB  2017-12-12 03:45:47           3284         69  0.75
mlomuscio/pokemon                                    Pokemon                                     14KB  2019-09-03 01:14:49            150          5  0.7058824
mylesoneill/pokemon-sun-and-moon-gen-7-stats         Pokemon Sun and Moon (Gen 7) Stats         271KB  2019-11-17 22:16:07           1964         66  0.9705882
brilja/pokemon-mugshots-from-super-mystery-dungeon   Pokemon Mugshots                            81MB  2019-05-21 04:09:03            160         13  0.5625
aaronyin/oneshotpokemon                              One-Shot-Pokemon Images                      2GB  2018-05-29 05:32:03            876         62  0.75
lantian773030/pokemonclassification                  Pokemon Classification                     417MB  2019-11-09 23:15:13            130         13  0.8125
tristan581/17k-apple-app-store-strategy-games        17K Mobile Strategy Games                    8MB  2019-08-26 08:22:16          15705        564  1.0
semioniy/predictemall                                Predict'em All                             140MB  2016-10-11 23:33:54           5833        124  0.5882353
lrcusack/pokemontrainers                             Pokemon Trainers Dataset                   801KB  2017-04-08 06:59:35            494         10  0.7941176
brkurzawa/original-150-pokemon-image-search-results  Original 151 Pokemon Image Search Results   20GB  2018-11-21 17:17:04            368         19  0.875
dollarakshay/pokemon-images                          Pokemon Images                              57MB  2017-11-27 20:12:53            795         24  0.6875
abcsds/pokemongo                                     PokemonGO                                    4KB  2016-08-26 04:57:19           1747         21  0.8235294
kveykva/sf-bay-area-pokemon-go-spawns                SF Bay Area Pokemon Go Spawns                4MB  2016-09-15 04:12:39           1104         20  0.5882353
n2cholas/competitive-pokemon-dataset                 Complete Competitive Pokemon Dataset       172KB  2018-06-24 05:47:05            328          9  0.7058824
sekarmg/pokemon                                      Pokemon                                    285KB  2017-11-29 03:01:57            475          7  0.4117647

In [12]:
!kaggle datasets download abcsds/pokemon -p ./datasets/
!unzip ./datasets/pokemon.zip -d ./datasets/pokemon/

Downloading pokemon.zip to ./datasets
  0%|                                               | 0.00/14.9k [00:00<?, ?B/s]
100%|██████████████████████████████████████| 14.9k/14.9k [00:00<00:00, 9.78MB/s]
Archive:  ./datasets/pokemon.zip
  inflating: ./datasets/pokemon/Pokemon.csv

In [13]:
!ls ./datasets/pokemon

Pokemon.csv

### 3.1 Creating DB using Objects

Now let's use the Pokemon dataset and Pony to create a database. The first step is to create classes that will map to tables in the generate database:

In [16]:
from pony.orm import *
import os
# Creating a new database
db = Database()
db.bind(provider='sqlite', filename=f'{os.getcwd()}/datasets/pokemon/pokemon.pony.db', create_db=True) # notice we can easily use other type of databases instead of SQLite

# Each class will be map to a table
class Trainer(db.Entity):
    name = Required(str)
    age = Required(int)
    pokemons_list = Set('Pokemon') # Connected to the Pokemon class
    
class Pokemon(db.Entity):
    name = Required(str) # cannot be None
    age  = Optional(int)
    attack_power = Required(int)
    defense_power = Required(int)
    trainer = Optional(Trainer) # Connected to the Trainer class

In [17]:
show(Trainer)

class Trainer(Entity):
    id = PrimaryKey(int, auto=True)
    name = Required(str)
    age = Required(int)
    pokemons_list = Set(Pokemon)

Notice that Pony adds a PrimaryKey to the Trainer class. Let's create the actual tables:

In [18]:
set_sql_debug(True) # helps to see what SQL commands are running
db.generate_mapping(create_tables=True) # create tables

GET CONNECTION FROM THE LOCAL POOL
PRAGMA foreign_keys = false
BEGIN IMMEDIATE TRANSACTION
CREATE TABLE "Trainer" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "name" TEXT NOT NULL,
  "age" INTEGER NOT NULL
)

CREATE TABLE "Pokemon" (
  "id" INTEGER PRIMARY KEY AUTOINCREMENT,
  "name" TEXT NOT NULL,
  "age" INTEGER,
  "attack_power" INTEGER NOT NULL,
  "defense_power" INTEGER NOT NULL,
  "trainer" INTEGER REFERENCES "Trainer" ("id") ON DELETE SET NULL
)

CREATE INDEX "idx_pokemon__trainer" ON "Pokemon" ("trainer")

SELECT "Pokemon"."id", "Pokemon"."name", "Pokemon"."age", "Pokemon"."attack_power", "Pokemon"."defense_power", "Pokemon"."trainer"
FROM "Pokemon" "Pokemon"
WHERE 0 = 1

SELECT "Trainer"."id", "Trainer"."name", "Trainer"."age"
FROM "Trainer" "Trainer"
WHERE 0 = 1

COMMIT
PRAGMA foreign_keys = true
CLOSE CONNECTION

We can see that Pony create the Pokemon & the Trainer tables in the database. Next, we will use the Pandas package to insert data into these tables:

In [19]:
import pandas as pd # we will talk more about pandas in our next lecture
df = pd.read_csv('./datasets/pokemon/Pokemon.csv')
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

Let's iterate on the dataframe rows and create a Pokemon object from each row:

In [20]:
import random

for idx, row in df.iterrows():
    Pokemon(name=row['Name'],age=random.randint(0,500),attack_power=row['Sp. Atk'], defense_power=row['Sp. Def'])

We have created 800 objects, one for each row. However, none of them was committed to the DB yet. Let's commit!

In [21]:
commit()

GET NEW CONNECTION
BEGIN IMMEDIATE TRANSACTION
INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Bulbasaur', 194, 65, 65]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Ivysaur', 41, 80, 80]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Venusaur', 339, 100, 100]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['VenusaurMega Venusaur', 176, 122, 120]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Charmander', 274, 60, 50]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Charmeleon', 185, 80, 65]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Charizard', 219, 109, 85]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['CharizardMega Charizard X', 355, 130, 85]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['CharizardMega Charizard Y', 57, 159, 115]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Squirtle', 487, 50, 64]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Wartortle', 263, 65, 80]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Blastoise', 363, 85, 105]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['BlastoiseMega Blastoise', 415, 135, 115]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Caterpie', 223, 20, 20]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Metapod', 229, 25, 25]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Butterfree', 89, 90, 80]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Weedle', 98, 20, 20]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Kakuna', 39, 25, 25]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Beedrill', 267, 45, 80]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['BeedrillMega Beedrill', 26, 15, 80]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Pidgey', 180, 35, 35]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Pidgeotto', 386, 50, 50]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Pidgeot', 391, 70, 70]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['PidgeotMega Pidgeot', 452, 135, 80]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Rattata', 249, 25, 35]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Raticate', 82, 50, 70]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Spearow', 189, 31, 31]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Fearow', 446, 61, 61]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Ekans', 392, 40, 54]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Arbok', 492, 65, 79]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Pikachu', 470, 50, 50]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Raichu', 387, 90, 80]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Sandshrew', 397, 20, 30]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Sandslash', 210, 45, 55]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Nidoran♀', 440, 40, 40]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Nidorina', 301, 55, 55]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Nidoqueen', 264, 75, 85]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Nidoran♂', 249, 40, 40]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Nidorino', 432, 55, 55]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Nidoking', 348, 85, 75]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Clefairy', 265, 60, 65]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Clefable', 271, 95, 90]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Vulpix', 490, 50, 65]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Ninetales', 457, 81, 100]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Jigglypuff', 380, 45, 25]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Wigglytuff', 243, 85, 50]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Zubat', 394, 30, 40]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Golbat', 407, 65, 75]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Oddish', 358, 75, 65]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Gloom', 268, 85, 75]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Vileplume', 411, 110, 90]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Paras', 298, 45, 55]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Parasect', 139, 60, 80]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Venonat', 468, 40, 55]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Venomoth', 358, 90, 75]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Diglett', 108, 35, 45]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Dugtrio', 297, 50, 70]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Meowth', 366, 40, 40]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Persian', 7, 65, 65]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Psyduck', 398, 65, 50]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Golduck', 323, 95, 80]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Mankey', 310, 35, 45]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Primeape', 162, 60, 70]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Growlithe', 389, 70, 50]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Arcanine', 323, 100, 80]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Poliwag', 127, 40, 40]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Poliwhirl', 8, 50, 50]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Poliwrath', 376, 70, 90]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Abra', 255, 105, 55]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Kadabra', 366, 120, 70]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Alakazam', 135, 135, 95]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['AlakazamMega Alakazam', 148, 175, 95]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Machop', 26, 35, 35]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Machoke', 371, 50, 60]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Machamp', 469, 65, 85]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Bellsprout', 301, 70, 30]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Weepinbell', 367, 85, 45]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Victreebel', 28, 100, 70]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Tentacool', 190, 50, 100]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Tentacruel', 220, 80, 120]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Geodude', 269, 30, 30]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Graveler', 326, 45, 45]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Golem', 249, 55, 65]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Ponyta', 446, 65, 65]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Rapidash', 161, 80, 80]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Slowpoke', 157, 40, 40]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Slowbro', 296, 100, 80]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['SlowbroMega Slowbro', 110, 130, 80]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Magnemite', 135, 95, 55]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Magneton', 140, 120, 70]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
["Farfetch'd", 477, 58, 62]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Doduo', 257, 35, 35]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Dodrio', 374, 60, 60]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Seel', 264, 45, 70]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Dewgong', 301, 70, 95]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Grimer', 388, 40, 50]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Muk', 494, 65, 100]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Shellder', 252, 45, 25]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Cloyster', 441, 85, 45]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Gastly', 20, 100, 35]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Haunter', 40, 115, 55]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Gengar', 251, 130, 75]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['GengarMega Gengar', 29, 170, 95]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Onix', 260, 30, 45]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Drowzee', 208, 43, 90]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Hypno', 365, 73, 115]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Krabby', 140, 25, 25]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Kingler', 236, 50, 50]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Voltorb', 1, 55, 55]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Electrode', 229, 80, 80]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Exeggcute', 143, 60, 45]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Exeggutor', 176, 125, 65]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Cubone', 343, 40, 50]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Marowak', 316, 50, 80]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Hitmonlee', 396, 35, 110]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Hitmonchan', 352, 35, 110]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Lickitung', 112, 60, 75]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Koffing', 17, 60, 45]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Weezing', 319, 85, 70]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Rhyhorn', 161, 30, 30]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Rhydon', 490, 45, 45]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Chansey', 459, 35, 105]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Tangela', 275, 100, 40]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Kangaskhan', 22, 40, 80]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['KangaskhanMega Kangaskhan', 28, 60, 100]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Horsea', 235, 70, 25]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Seadra', 59, 95, 45]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Goldeen', 233, 35, 50]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Seaking', 222, 65, 80]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Staryu', 220, 70, 55]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Starmie', 293, 100, 85]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Mr. Mime', 430, 100, 120]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Scyther', 477, 55, 80]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Jynx', 61, 115, 95]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Electabuzz', 415, 95, 85]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Magmar', 298, 100, 85]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Pinsir', 64, 55, 70]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['PinsirMega Pinsir', 494, 65, 90]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Tauros', 160, 40, 70]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Magikarp', 39, 15, 20]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Gyarados', 178, 60, 100]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['GyaradosMega Gyarados', 496, 70, 130]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Lapras', 145, 85, 95]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Ditto', 5, 48, 48]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Eevee', 122, 45, 65]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Vaporeon', 165, 110, 95]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Jolteon', 498, 110, 95]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Flareon', 426, 95, 110]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Porygon', 454, 85, 75]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Omanyte', 468, 90, 55]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Omastar', 145, 115, 70]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Kabuto', 198, 55, 45]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Kabutops', 90, 65, 70]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Aerodactyl', 334, 60, 75]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['AerodactylMega Aerodactyl', 318, 70, 95]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Snorlax', 402, 65, 110]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Articuno', 386, 95, 125]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Zapdos', 155, 125, 90]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Moltres', 251, 125, 85]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Dratini', 453, 50, 50]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Dragonair', 484, 70, 70]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Dragonite', 1, 100, 100]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Mewtwo', 120, 154, 90]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['MewtwoMega Mewtwo X', 445, 154, 100]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['MewtwoMega Mewtwo Y', 242, 194, 120]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Mew', 491, 100, 100]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Chikorita', 412, 49, 65]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power") VALUES (?, ?, ?, ?)
['Bayleef', 210, 63, 80]


Now let's add Ash as a trainer object, and add two pokemons trained by Ash:

In [22]:
ash_trainer = Trainer(name='Ash Ketchum', age=10)
pikachu = Pokemon(name='pikachu',age=6,attack_power=50, defense_power=50, trainer=ash_trainer)
charmander =  Pokemon(name='charmander',age=2,attack_power=60, defense_power=50,trainer=ash_trainer)
commit()

BEGIN IMMEDIATE TRANSACTION
INSERT INTO "Trainer" ("name", "age") VALUES (?, ?)
['Ash Ketchum', 10]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power", "trainer") VALUES (?, ?, ?, ?, ?)
['pikachu', 6, 50, 50, 1]

INSERT INTO "Pokemon" ("name", "age", "attack_power", "defense_power", "trainer") VALUES (?, ?, ?, ?, ?)
['charmander', 2, 60, 50, 1]

COMMIT

We can now easily retrieve data using objects:

In [23]:
pikachu.trainer.age

10

In [24]:
list(pikachu.trainer.pokemons_list)

[Pokemon[802], Pokemon[801]]

In [25]:
list(pikachu.trainer.pokemons_list)[1].name

'pikachu'

We can also simply update the database using the created objects:

In [26]:
pikachu.age

6

In [27]:
pikachu.age =110
commit()

BEGIN IMMEDIATE TRANSACTION
UPDATE "Pokemon"
SET "age" = ?
WHERE "id" = ?
  AND "name" = ?
  AND "age" = ?
  AND "attack_power" = ?
  AND "defense_power" = ?
  AND "trainer" = ?
[110, 801, 'pikachu', 6, 50, 50, 1]

COMMIT

In [28]:
pikachu.age

110

### 3.2 Creating  Objects from DB:

Using Pony, we can also connect to existing database, and easily search it without even knowing SQL. First let's connect between Pony to existing databse:

In [29]:
from pony.orm import *
import os

db = Database()
db.bind(provider='sqlite', filename=f'{os.getcwd()}/datasets/pokemon/pokemon.pony.db') # notice we don't use create_db=True here

class Trainer(db.Entity):
    name = Required(str)
    age = Required(int)
    pokemons_list = Set('Pokemon')
    
class Pokemon(db.Entity):
    name = Required(str) # cannot be None
    age  = Optional(int)
    attack_power = Required(int)
    defense_power = Required(int)
    trainer = Optional(Trainer)
db.generate_mapping()
set_sql_debug(True)

GET NEW CONNECTION
RELEASE CONNECTION
GET CONNECTION FROM THE LOCAL POOL
SWITCH TO AUTOCOMMIT MODE
SELECT "Pokemon"."id", "Pokemon"."name", "Pokemon"."age", "Pokemon"."attack_power", "Pokemon"."defense_power", "Pokemon"."trainer"
FROM "Pokemon" "Pokemon"
WHERE 0 = 1

SELECT "Trainer"."id", "Trainer"."name", "Trainer"."age"
FROM "Trainer" "Trainer"
WHERE 0 = 1

RELEASE CONNECTION
RELEASE CONNECTION

Using Pony, we can also connect to existing database, and easily search it without even knowing SQL. First, let's connect between Pony to an existing database:

In [30]:
[i.name for i in select(p for p in Pokemon if p.attack_power >100 and p.defense_power > p.attack_power    )]

GET CONNECTION FROM THE LOCAL POOL
SWITCH TO AUTOCOMMIT MODE
SELECT "p"."id", "p"."name", "p"."age", "p"."attack_power", "p"."defense_power", "p"."trainer"
FROM "Pokemon" "p"
WHERE "p"."attack_power" > 100
  AND "p"."defense_power" > "p"."attack_power"

['Ho-oh',
 'MetagrossMega Metagross',
 'Latias',
 'LatiasMega Latias',
 'RotomHeat Rotom',
 'RotomWash Rotom',
 'RotomFrost Rotom',
 'RotomFan Rotom',
 'RotomMow Rotom',
 'Florges',
 'Sylveon',
 'Goodra']

We can observe that behind the scenes Pony translate the query into a SQL query and returned a list with the names of the matched pokemons. Let's find the pokemon with the highest attack power:

In [31]:
m = max([i.attack_power for i in select(p for p in Pokemon  )])
m

SELECT "p"."id", "p"."name", "p"."age", "p"."attack_power", "p"."defense_power", "p"."trainer"
FROM "Pokemon" "p"

194

In [32]:
[i.name for i in select(p for p in Pokemon if p.attack_power == m )]

SELECT "p"."id", "p"."name", "p"."age", "p"."attack_power", "p"."defense_power", "p"."trainer"
FROM "Pokemon" "p"
WHERE "p"."attack_power" = ?
[194]

['MewtwoMega Mewtwo Y']

## 4. SQL Big Data
You can use SQL with various RDBMS to analyze tables with millions, tens of millions, or even hundreds of millions of rows. This is sufficient for most usages. However, it is also possible to use "SQL Like" queries to analyze Big Data with billions of rows (or even more). For example, it is possible to use  [HiveQL](https://www.tutorialspoint.com/hive/hiveql_select_where.htm) to analyze extremely large datasets on Hadoop, or [Spark SQL](https://spark.apache.org/sql/) to run SQL like queries on Spark. 

We will show an example of using HiveQL and Spark SQL in a future lecture. For, the last part of this lecture, let's run on a [Kaggle Kernel](https://www.youtube.com/watch?time_continue=1&v=FloMHMOU5Bs&feature=emb_logo), a simple example that utilizes SQL & BigQuery to query large scale datasets:

In [0]:
# see also https://www.kaggle.com/mrisdal/mentions-of-kaggle-on-hacker-news
# https://www.kaggle.com/bigquery-simple-examples/edit
# Run this on Kaggle Kernel
from google.cloud import bigquery


client = bigquery.Client()

query = """
SELECT title, time_ts
FROM `bigquery-public-data.hacker_news.stories`
WHERE title like '%big%data%'
ORDER BY time DESC
"""

query_job = client.query(query)
iterator = query_job.result(timeout=30)
rows = list(iterator)
# Transform the rows into a nice pandas dataframe
headlines = pd.DataFrame(data=[list(x.values()) for x in rows], columns=list(rows[0].keys()))

# Look at the first 10 headlines
headlines.head(10)

In [0]:
# see also https://www.kaggle.com/dhanushkishore/impact-of-game-of-thrones-on-us-baby-names
from google.cloud import bigquery

client = bigquery.Client()

query = """
SELECT gender, name, sum(number) as totalnames 
FROM `bigquery-public-data.usa_names.usa_1910_current` 
GROUP BY gender, name
Order by totalnames desc
"""

query_job = client.query(query)
iterator = query_job.result(timeout=30)
rows = list(iterator)
# Transform the rows into a nice pandas dataframe
headlines = pd.DataFrame(data=[list(x.values()) for x in rows], columns=list(rows[0].keys()))

# Look at the first 10 headlines
headlines.head(10)

## Further Readings and Practice


*   [SQLZoo](https://sqlzoo.net)
*   [The SQL Murder Mystery](https://mystery.knightlab.com)
*   [W3 School SQLL Tutorial](https://www.w3schools.com/sql/)
*   [PonyORM](https://ponyorm.org)
*   [Kaggle - Intro to SQL](https://www.kaggle.com/learn/intro-to-sql)
*   [Getting Started with SQL and BigQuery notebook](https://www.kaggle.com/dansbecker/getting-started-with-sql-and-bigquery)